*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0F0F;
}

/*-----section footer*/
.logo_insider{
    display: flex;
    text-align: center;
    gap: 11px;
    align-items: center;
}
.insider{
    color: #FFFFFF;
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_footer{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.container{
    display: flex;

}