
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 100%;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    /* border: solid; */
}

body{
    background-color: #0F0F0F;
}

/*-------header----------*/
.text_logo{
    color: #FFFFFF;
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
    gap: 10px;
    display: flex;
}
.logo_logo{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 11px;
}
.logo{
    margin-top: 76px;
    display: flex;
    gap: 11px;
    justify-content: space-between;
}
.text_menu{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 56px;
    align-items: center;
}

.invite{
    margin-top: 187px;
}
/*------------ Section New --------------*/
.yel{
    color: #EBBD1B;
    font-size: 72px;
    font-weight: 700;
}
.yel_p{
    color: #EBBD1B;
    font-weight: 700;
}
.yel_h1{
    color: #EBBD1B;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.h1_new{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: normal;
    font-family: "Montserrat";
    display: flex;
    align-items: end;
    flex-direction: column;

}
.new{
    margin-top: 363px;
    flex-direction: column;
    display: flex;
    gap: 11px;
}
.p_new{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Montserrat";
}
.yel_online{
    color: #EBBD1B;
    font-size: 19px;
    font-weight: 700;
}
.p_mer{
    color: #FFFFFF;
    font-size: 19px;
    font-weight: normal;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
}
.p_header{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "OpenSans";
    margin-top: 53px;
}
.text_h1{
    color: #FFFFFF;
    font-size: 64px;
    font-family: "Montserrat";
    font-weight: normal;
    
}
.text_date{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    font-family: "OpenSans";
    margin-top: 92px;
}

.pain_new{
    display: flex;
    gap: 186px;
    margin-bottom: 200px;
}

.left_text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.span_yel_h1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button_new{
    color: #EBBD1B;
    border: 1px solid rgb(235, 189, 27);
    border-radius: 6px;
    background: #0F0F0F;
    padding: 16px 48px;
}
.button_new:hover{
    background-color: #1d1d1d;
}

.btn_new{
    display: flex;
    margin-top: 48px;
}
/*------------ Section idea --------------*/

.h1_yel{
    color: #EBBD1B;
    font-size: 36px;
    font-weight: 900;
    font-family: "Montserrat";

}
.h1_idea{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-family: "Montserrat";
}
.vector_organizer1{
    display: flex;
    gap: 313px;
    margin-top: 54px;
}
.vector_horizont1{
    border: 1px solid rgb(255, 255, 255);
    width: 103px;
    height: 0;
    margin-bottom: 88px;
}
.people{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.h2_golyb{
    text-transform: uppercase;
    color: #EBBD1B;
    font-size: 21px;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 37px;
}
.vector_organizer2{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
.vector_horizont2{
    border: 1px solid rgb(255, 255, 255);
    width: 258px;
    height: 0;
}
.idea_golyb{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
}


/*-----section footer*/
.logo_insider{
    display: flex;
    text-align: center;
    gap: 11px;
    align-items: center;
}
.insider{
    color: #FFFFFF;
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_footer{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    font-family: "Montserrat";
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}


.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 228px;
}

.text_footer_1, .text_footer_2, .text_footer_3{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

/* -------section question_answer */

.question_answer{
    color: #FFFFFF;
}

.text_quest{
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 500;
    color: rgb(235, 189, 27);
}

.strip_1{
    width: 103px;
    color: #FFFFFF;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 26px;
    margin-bottom: 106px;

}

.text_number{
    color: rgba(235, 189, 27, 0.38);
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_questions{
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 900;
    margin-top: 11px;
}

.text_answer{
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}

.block_question_answer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 270px;
    gap: 68px;
}

/* section form_logout */

.rectangle{
    width: 1213px;
    height: 925px;
    border-radius: 7px;
    background: rgb(29, 29, 29);
    margin-bottom: 154px;
}

/* section partners */

.text_organizer{
    color: rgb(235, 189, 27);
    font-family: "Montserrat";
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    gap: 237px;
    margin-bottom: 25px;
}

.vector_organizer{
    display: flex;
    gap: 313px;
}
.vector_horizont{
    border: 2px solid rgb(255, 255, 255);
    width: 44px;
    height: 0;
    margin-bottom: 88px;
}

.img_organize{
    margin-bottom: 300px;
    display: flex;
    flex-direction: row;
    gap: 134px;
    align-items: center;
}

/* section banner */

.rectangle_yellow{
    border-radius: 5px;
    height: 258px;
    background: rgb(235, 189, 27);
    margin-bottom: 134px;
    display: flex;
    align-items: center;
}

.text_sponsor{
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
}

.text_intec_banner{
    color: #0F0F0F;
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
    gap: 10px;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
}

.banner_text{
    display: flex;
    justify-content: space-around;
    gap: 413px;
    margin: 77px;
}



@font-face{
    font-family: "Montserrat";
    src: url("../Intec/font/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
}
@font-face{
    font-family: "OpenSans";
    src: url("../Intec/font/OpenSans-VariableFont_wdth\,wght.ttf");
    font-style: normal;
}